{% extends 'base.html.twig' %}

{% block title %}New ReviewSystem{% endblock %}

{% block body %}
    <h1>Create new Review</h1>

    {{ include('review_system/_form.html.twig') }}

    <a style="margin-top: 1%" button class="btn btn-info" href="{{ path('app_review_system_index') }}">back to list</a>
{% endblock %}
